
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,100&display=swap');


$font:"Fira Sans",sans-serif;

$primary:#1A2D4D;
$pri_variado:#4D75B8;
$secondary:#F50F57;
$dark:#4F4F4F;
$white:#ffff;
$scroll:#11749b;
// uso posterior 
$sec_variado:#FF7AA4;
$text:#6c757d; 

