@import "variables";
@import "mixins";

i,
a {
    color: $white;
    cursor: pointer;
}

header {
    position: relative;
    display: flex;

    // background: $primary;
    // width: 100%;
    // height: 100vh;
    // border-radius: 0 0 30px 30px;

    nav {
        width: 100%;
        border-radius: 0 0 30px 30px;
        height: 70px;
        position: fixed;
        z-index: 1;
        background: $primary;

        &.nav-bg {
            // background: $scroll;
            background: linear-gradient(151.8deg, #0e1a2f 25.79%, #f50f57 102.69%);
            box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
        }
        .contenedor {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: auto;
            height: 70px;
            left: 0;
            right: 0;
            border-bottom: solid 1px $white;
            position: fixed;
            width: calc(100% - 10%);
            &.sin-borde {
                border: none;
            }
            .logo {
                width: 80px;

                a {
                    height: 100%;
                    display: flex;
                    align-items: center;
                    color: $white;
                }
                span {
                    color: $white;
                    font-size: 25px;
                    border-bottom: 3px solid $seccondary;
                }
            }

            ul {
                display: flex;
                justify-content: end;
                position: relative;
                gap: 2rem;

                .items {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    width: 420px;
                    padding: 5rem 0;
                    position: absolute;
                    gap: 2rem;
                    top: 43px;
                    right: -35px;
                    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
                    transition: clip-path 0.8s ease-out;
                    background: $primary;

                    &.bg-scroll {
                        // background: $scroll;
                        top: 42px;
                        background: linear-gradient(111deg, #0e1a2f 1.79%, #f50f57 102.69%);
                        box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
                    }

                    li {
                        padding: 5px;
                        border-radius: 5px;
                        a {
                            color: $white;

                        }
                        &:hover {
                            background: $gb_hover;
                        }
                        &.info {
                            display: none;
                            position: absolute;
                            background: $text;
                            color: $primary;
                            top: 110px;
                            // left: 4.2rem;
                        }
                        &:nth-child(2) {
                            cursor:help;

                            &:hover ~ .info {
                                display: block;
                            }
                            a{
                                cursor:help;
                            }
                        }
                    }
                }

                .is_active {
                    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
                }
            }

            .menu_icons {
                display: flex;
                justify-content: start;
                gap: 1rem;
                z-index: 1;
                button {
                    border: none;
                    background: none;
                    padding: 5px;

                    &:last-child {
                        display: block;

                        &.open .fa-bars::before {
                            content: "\f00d";
                        }
                    }
                    &.search i, &.user i{
                        cursor: no-drop;
                    }
                }
            }
        }
    }
}

@media (min-width: 768px) {
    header {
        nav {
            .contenedor {
                ul {
                    .items {
                        flex-direction: row;
                        position: relative;
                        clip-path: none;
                        padding: 0;
                        top: 0;
                        left: 0;
                        width: auto;
                        &.bg-scroll {
                            background: none;
                            box-shadow: none;
                            top: 0;
                        }

                        li.info{
                            left: 4.2rem;
                            top: 30px;
                        }
                    }
                }

                .menu_icons {
                    button {
                        &:last-child {
                            display: none;
                        }
                    }
                }
            }
        }
    }
}
